body {
 
  background-image: linear-gradient(5deg,#5656b1, teal,#5656b1);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
  scroll-behavior: smooth;
}


/* Base styles */

body {
  font-family: 'Montserrat';
  line-height: 1.4;
  color: var(--main-white);
}

h1 {
  padding-top: rem;
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}



h3 {
  text-align: center;
  color: white;
  padding-bottom: 2rem;
}

h5 {
  text-align: center;
  color white;
}

h6 {
  font-size: 4.2rem;
  color: white;
}
a {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  
  color: white;
  font-size: 2.6rem;
  
}

img {
  display: flex;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  background: rgb(63, 51, 114);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  padding-left: 13px;
}
/*nav list style horizontal*/
.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1.5rem;
}

.nav-list a:hover {
  background: blueviolet;
}
/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* chat-commands section */

.chat-commands-section {
  text-align: center;
  padding: 6rem 2rem;
  font-weight: 600;
  font-size: 5.5rem;
  background-color: #5656b1;
}
/*Header*/
.aboutme-section {
  text-align: left;
  padding: 10rem 2rem;
  font-weight: 100vh;
  font-size: 6rem;
  background-color: #0e0e10;
}

/* "Automagic" image grid using no media queries */
.chat-commands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30rem) {
  .chat-commands-section
 {
    padding: 1rem 1rem;
  }

  .chat-commands-grid {
    grid-template-columns: 1fr;
  }
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border-top: 4px solid
  color: white;
}



footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75rem) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
